<table>
  <tr>
    <th>Tag Name</th>
    <th>Post Title</th>
  </tr>
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><strong><%= tag.name %></strong></td>
        <td>
          <% tag.posts.each do |post| %>
            <p><%= post.title %></p>
          <% end %>
        </td> 
      </tr>
    <% end %>
  </tbody>
</table>
