<section class="head-under-main-hero3">
  <div>
    <div class="head-under-main-txt">
      <h4>Orange Review - Edition 1</h4>
      <h1>A Time Travel Postcard</h1>
      <h6 class="date-comments">
        Posted 19 May 2018
        <a href="#">3 Comments</a>
      </h6>
      <div>
        <button class="button-lg-txt">Read More</button>
      </div>
  </div>
</section>

<section class="search-results">
  <% @posts.each do |post| %>
    <div class="search-results-container-centered">
      <div class="search-results-img-container">
        <button class="button-opaque-lg-txt">Read More
        </button>
      </div>
      <div class="search-results-txt">
        <h6 class="date-comments">
            19 May 2018
          <a href="#">15 Comments</a>
        </h6>
        <h2>
          <%= link_to post.title, post_path(post) %>
        </h2>
        <div class="button-hash-container">
          <button class="button-hash">#Travel</button>
          <button class="button-hash">#Personal</button>
          <button class="button-hash">#Food</button>
          <button class="button-hash">#TagsForLikes</button>
        </div>
      </div>    
    </div>
  <% end %>
</section>

<table>
      <tr>
        <th>Post Title</th>
        <th>View Details</th>
      </tr>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= link_to "Show", post_path(post) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
